.advantage{
    padding-top: 68px;
    padding-bottom: 56px;
    &__items{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        width: 308px;
        height: 170px;
        @include media-1400{
            flex-basis: 49%;
        }
        &-wrap{
            display: flex;
            align-items: flex-start;
        }
        &-title{
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }
        &-img{
            margin-right: 15px;
        }
        &-text{
            margin-top: 20px;
            font-size: 14px;
            line-height: 17px;
            color: #505050;
        }   
    }
}