.info{
    padding-top: 112px;
    padding-bottom: 112px;
    background: rgba(2, 9, 40, 0.7);
    &__inner{
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 1300px) {
            flex-direction: column;
        }
    }
    &__contacts{
        width: 100%;

        &-info {
            flex-basis: 48.9%;
            margin-right: 50px;

            @media (max-width: 1300px) {
                order: 1;
                margin-right: 0;
                flex-basis: 100%;
            }
        }

        &-form{
            margin-top: 50px;
            flex-basis: 48.9%;

            @media (max-width: 1300px) {
                order: 3;
                flex-basis: 100%;
            }
            &__title{
                font-weight: bold;
                font-size: 30px;
                line-height: 36px;
                color: #FFFFFF;
            }
            &__form{
                margin-top: 35px;
            }
        }
    }

    &-form{
        &__name{
            background: #FFF;
            font-size: 16px;
            line-height: 150%;
            color: #1C1C1C;
            padding: 12px 25px 12px 25px;
            flex-basis: 100%;
        }
        &__email{
            background: #FFF;
            font-size: 16px;
            line-height: 150%;
            color: #1C1C1C;
            padding: 12px 25px 12px 25px;
            margin-top: 20px;
            flex-basis: 48%;
        }
        &__phone{
            background: #FFF;
            font-size: 16px;
            line-height: 150%;
            color: #1C1C1C;
            padding: 12px 25px 12px 25px;
            margin-top: 20px;
            flex-basis: 48%;
        }
        &__msg{
            margin-top: 20px;
            background: #FFF;
            font-size: 16px;
            line-height: 150%;
            color: #1C1C1C;
            padding: 12px 25px 12px 25px;
            height: 110px;
        }
        &__wrap{
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__checkbox{
            &-wrap{
                margin-top: 36px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        &__label{
            color: #fff;
            font-size: 16px;
            line-height: 19px;
            >a{
                color: #37A58C;
            &:hover{
                text-decoration: underline;
            }
            }
        }
        &__btn{
            width: 206px;
        }
    }

    &-info{
        width: 100%;
        &__wrap{
            display: flex;
            background: #FFF;
            align-items: center;
            margin-top: 35px;
            padding: 30px;
        }
        &__title{
            font-weight: bold;
            font-size: 30px;
            line-height: 36px;
            color: #FFFFFF;
        }
        &__subtitle{
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 17px;
            color: #5F5F5F;
        }
        &__name{
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: #1C1C1C;
        }
        &__adress{
            display: flex;
            flex-direction: column;
            margin-right: 25px;
        }
        &__phone{
            display: flex;
            flex-direction: column;
            margin-right: 25px;
        }
        &__email{
            display: flex;
            flex-direction: column;
        }
    }

    &__map {
        flex-basis: 47.5%;
        margin-left: 3.6%;
        margin-top: -178px;

        @media (max-width: 1300px) {
            flex-basis: 100%;
            margin-top: 30px;
            margin-left: 0;
            margin: 30px 0 0 0;
            order: 2;
            max-height: 290px;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
input{
    width: 100%;
}
textarea{
    width: 100%;
}
