footer.footer
	.container
		div.footer__inner 
			img.footer__logo.logo(src="img/logo.svg", alt="REHAU")
			nav.footer__list 
				a.footer__list-item(href="#") Услуги
				a.footer__list-item(href="#") Наши работы
				a.footer__list-item(href="#") Стоимость работ
				a.footer__list-item(href="#") Контакты
				a.footer__list-item(href="#") Оставить заявку
			div.footer__info
				span.footer__info-copywriting 
					| 2021 © Все права защищены авторским правом
				div.footer__info-link
					|  Создание сайта: 
					a(href="#") mockup.digital 