.sh{
	&-burger {
		position: relative;
		display: none;
		width: 34px;
		height: 26px;
		cursor: pointer;
		transition-duration: .2s;
		@include media-1400{
			display: flex;
		}
		span,
		span::before,
		span::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 34px;
			height: 4px;
			margin-top: -1px;
			margin-left: -17px;
			background-color: #000;
			border-radius: 25%;
		}

		span::before,
		span::after {
			content: '';
			transition: 0.2s;
		}

		span::before {
			transform: translateY(-12px);
		}

		span::after {
			transform: translateY(12px);
		}

		&--active {
			background: #F5F6FB;

			span {
				height: 0;

				&::before {
					transform: rotate(45deg);
					background: #323340;
				}

				&::after {
					transform: rotate(-45deg);
					background: #323340;
				}
			}
		}
	}
	&-menu{
		&-wrap{
			position: fixed;
			top: 0;
			right: -100%;
			bottom: 0;
			width: 400px;
			padding: 50px;
			padding-top: 150px;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			align-items: center;
			background: #fff;
			z-index: 100;
			transition: all .4s;
			overflow-y: auto;
			&--open{
				right: 0;
			}
			@include mobile-450{
				width: 350px;
				padding: 30px;
				padding-top: 150px;
			}
		}
	}
}

.header{
	padding-top: 28px;
	padding-bottom: 28px;
	@include media-1400{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 101;
		background: #fff;
	}
	&__inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	&__list{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include media-1400{
			display: none;
		}
		&--mobile{
			flex-direction: column;
			display: flex;
			>a{
				margin-bottom: 30px;
			}
		}
		&-item{
			font-size: 14px;
			line-height: 17px;
			position: relative;
			&:hover{
				color: $secondary;
				&::before{
					content: '';
					position: absolute;
					bottom: -12px;
					left: 0;
					height: 1px;
					background: $secondary;
					width: 80%;
	
				}
			}
			
			&:not(:last-child){
				margin-right: 25px;
			}
		}
	}
	&__contacts{
		display: flex;
		align-items: center;
		flex-direction: row;
		@include tablet{
			display: none;
		}
		&--mobile{
			display: none;
			>div{
				margin-bottom: 26px;
			}
			@include tablet{
				display: flex;
				flex-direction: column;
			}
		}
		&-item{
			display: flex;
			align-items: center;
			flex-direction: row;
			>img{
				margin-right: 10px;
			}
			&:not(:last-child){
				margin-right: 25px;
			}
			&:last-child{
				&:hover{
					color: $primary;
					text-decoration: underline;
				}
			}
		}
	}
}
